#elonlogo {
	position: relative;
	width: 140%;
	left: -20%;

}

#elon-2 {
	margin-left: -20%;
}

#bigbang {
	position: relative;
	width: 130%;
	left: -15%;
}

#ironman {
	position: relative;
	width: 150%;
	left: -20%;
}

#ieee {
	width: 100%;
} 

#num1 {
	font-size: 650%;
}

#txt1 {
	font-size: 400%;
}

#txt2 {
	font-size: 400%;
	text-align: center;
}

.cylinder {
	width: 50%;
	
}

#nisblogo {
	width: 80%;
}

#num2 {
	font-size: 650%;
	text-align: center;
}

#txt3 {
	font-size: 400%;
	text-align: center;
}

.ieeebenefits {
	width: 100%;
	display: block;
    margin: 0 auto;	
}

#myieee{
	width: 80%;
}

.smaller{ width: 70%; }

#heading {font-size: 200%; text-align: center;}

.cslogo {

	width: 100%;
}

.img-center {
	display: block;
    margin: 0 auto;	
}

.txt-center {
	text-align: center;
}

#cs-benefits {
	font-size: 210%;
}

#cs-pub {
	width: 130%;
	margin-left: -12%;
}

.cs-txt-lrg {
	font-size: 250%;
}

 ul {
	list-style-type: circle;
}

ul li {
	margin-left: 10%;
}

#project {
	width: 140%;
	margin-left: -18%;
}

#project-txt {
	margin-top: -10%;

}

#wie-img-2 {
	width: 90%;
}

#alias {
	font-size: 200%;
	margin-left: -15%;
}